#menu {
  color: #fff;
  float: left;
  width: 18%; 
}

#content {
  color:#fff;
  float: right;
	width: 80%;
  
}
 
#clear {
 clear:both;
}
 
.mypoint {
    list-style: none;
}
.mypoint li::before {  
    color: white;
    margin-left: 15px;
    display: block;
    width: 30px;
  
}

	@font-face {
	font-family: "Exo2-Medium";
	src: url("../fonts/Exo2-Medium.ttf");
}
@font-face {
	font-family: "Exo2-MediumItalic";
	src: url("../fonts/Exo2-MediumItalic.ttf");
}
@font-face {
	font-family: "Exo2-Bold";
	src: url("../fonts/Exo2-Bold.ttf");
}
@font-face {
	font-family: "Exo2-BoldItalic";
	src: url("../fonts/Exo2-BoldItalic.ttf");
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/white-needle.png");
    
}
#block-body {
    width: 1035px;
    margin: 5px auto;
    height: auto;
}
header {
   width: 1035px; 
   height: 80px;
   background-color: black;
}
#block-content {
    width: 1035px;
    height: auto;
    min-height: 500px;
}
.logo {
    width: 300px;
    float: left;
    height: 80px;
}
.logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 30px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}
.use {
    color: #aa064b;
    
}
.web {
    color: #429595; 
}
.logo p {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 13px;
    color: white;
}
.top-menu {
    width: 685px;
    height: 80px;
    float: left;
}
.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}
.top-menu ul li a {
    display: block;
    width: 171px;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 25px;
    color: white;
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
}
.top-menu ul li a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    background: #6e7d81;
}
.block-top-auth {
    width: 100px;
    float: left;
    margin-left: 40px;
    height: 80px;
}
.block-top-auth p {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 8px;
    
}
.block-top-auth a {
    text-decoration: none;
    color: white;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.block-top-auth a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    color: #00ADE4;
}
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 170px;
  height: 30%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: left;
  background-color:rgb(185, 213, 240);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.cellar {
    height: 150px;
    width: 100%;
        margin-top: 50px;
    position: relative;
    left: 0px;
    bottom: 0px;
        background: linear-gradient(#696969 0%, #000000);
        font-size: 20px;
        color: A9A9A9;
    vertical-align: bottom;
        float: bottom;
}

IMG.fig {
  float: left; /* Обтекание картинки по левому краю */
  padding-right: 10px; /* Отступ слева */
  padding-bottom: 7px; /* Отступ снизу */
 }

 iframe.fig2 {
 position: center;
 }
 body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	background: url(http://images.vfl.ru/ii/1513151627/86f4810d/19788129.jpg
) no-repeat center top / cover;
  height: 100%;
} 
.smoke {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.smoke ul {
	margin: 0;
	padding: 0;
	display: flex;
}
.smoke ul li {
	list-style: none;
	color: #fff;
	font-size: 6em;
	font-weight: bold;
	letter-spacing: 10px;
}
.smoke ul:hover li {
	animation: animate 2s linear forwards;
}

@keyframes animate {
	0% {
		transform: rotate(0deg) translateY(0px);
		opacity: 1;
		filter: blur(1px);
	}
	100% {
		transform: rotate(45deg) translateY(-200px);
		opacity: 0;
		filter: blur(20px);
	}
}

.smoke ul li:nth-child(1) {
	animation-delay: 0s;
}
.smoke ul li:nth-child(2) {
	animation-delay: .4s;
}
.smoke ul li:nth-child(3) {
	animation-delay: .8s;
}
.smoke ul li:nth-child(4) {
	animation-delay: 1.2s;
}
.smoke ul li:nth-child(5) {
	animation-delay: 1.6s;
}

.button,
.button::before,
.button::after,
.button span,
.button span::before,
.button span::after
{
  transition: all ease .5s;
}

.button{
  position: relative;
  display: inline-block;
  padding: 0.3em;
  margin: 1em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover
{
  box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}

.button span
{
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em;
}

.button:hover span
{
  background-color: #fff;
  color: #112;
}

.button::before,
.button::after,
.button span::before,
.button span::after
{
  content: '';
  position: absolute;
  border: 1px;
}

.button::before,
.button span::before
{
  border-style: solid none;  
}

.button::before,
.button span::after{      
  left: 0;
  top: -0.4em;
  width: 100%; 
  height: calc(100% + 0.8em);
}

.button::after,
.button span::after
{
  border-style: none solid;   
}

.button::after,
.button span::before
{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em); 
}

.button:hover::after,
.button:hover span::after
{
  transform: scaleY(0);
}

.button:hover::before,
.button:hover span::before
{
  transform: scaleX(0);
}

.button:hover span::after,
.button:hover span::before
{
  opacity: 0;
}


* {
  margin: 0;
  padding: 0;
}


/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}








.hand {
  width: 200px;
  height: 200px;
}

@keyframes idle{
  0% { opacity: 1; }
  30% { opacity: 1; }
  31% { opacity: 0; }
  41% { opacity: 0; }
  42% { opacity: 1; }
  45% { opacity: 1; }
  46% { opacity: 0; }
  56% { opacity: 0; }
  57% { opacity: 1; }
  100% { opacity: 1; }
}

.idle {
  animation: idle 3s linear infinite;
  animation-delay: -1.5s;
}


@keyframes knock{
  0% { opacity: 0; }
  30% { opacity: 0; }
  31% { opacity: 1; }
  41% { opacity: 1; }
  42% { opacity: 0; }
  45% { opacity: 0; }
  46% { opacity: 1; }
  56% { opacity: 1; } 
  57% { opacity: 0; }
  100% { opacity: 0; }
}

.knock {
  animation: knock 3s linear infinite;
  animation-delay: -1.5s;
}



